doctype html
html(lang='en')
	head
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(charset="UTF-8")
		title
		// CSS Stylesheets 
		link(media="all" type="text/css" rel="stylesheet" href="css/style.css")
	body

		// JS scripts
		script(src="js/script.js")